<!-- <secure-header *ngIf="isLogin"></secure-header> -->

<!-- <section class="content-block"> -->
<div class="row align-item-center">
    <div class="col-lg-12 col-md-12 col-xs-12 tr-campaign">

        <mat-card class="two-row-card">
            <div class="tr-sec-box">
                <div class="row">
                    <!-- <div class="col-lg-6 col-sm-6">
                        <div class="example-header">
                            <mat-form-field class="full-width">
                                <mat-select [(ngModel)]="newDepartmentId" placeholder="Select Department" (change)="onDepartmentFocusOut()">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let department of departments" [value]="department.id">
                                        {{ department.departmentName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="col-lg-6 col-sm-6 snipet download-btn">
                        <!-- <button (click)="addField('role')" mat-raised-button color="primary" [disabled]="!addPermission">
                            Add New
                            <i class="material-icons">add</i>
                        </button> -->
                    </div>
                </div>

                <div class="example-container">
                    <div class="example-header">
                        <mat-form-field>
                            <!-- <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event.target.value)" placeholder="Filter Role"> -->
                            <input matInput [(ngModel)]="filter" (keyup.enter)="search()" placeholder="Search Role" trim>
                            <mat-icon matSuffix (click)="search()" class="pointer">search</mat-icon>
                        </mat-form-field>
                    </div>

                    <mat-table #table [dataSource]="dataSource" class="max-table-height scrollable">

                        <!-- Serial No -->
                        <ng-container matColumnDef="sNo">
                            <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                            <mat-cell *matCellDef="let u; let i = index;"> {{i + 1}} </mat-cell>
                        </ng-container>

                        <!-- Role Column -->
                        <ng-container matColumnDef="roleName">
                            <mat-header-cell *matHeaderCellDef> Role Name </mat-header-cell>
                            <mat-cell *matCellDef="let role"> {{role.roleName}} </mat-cell>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                            <mat-cell *matCellDef="let role">
                                <div class="btn-group" role="group">
                                    <span>
                                        <button mat-raised-button class="edit-btn" [disabled]="!updatePermission"
                                            (click)="onEdit('role', role.id, role.roleName, null , null , role.departmentId)">
                                            <i class="material-icons">mode_edit</i></button>
                                    </span>
                                    <!-- <span>
                                        <button (click)="onDelete('role', role.id, role.roleName)" [disabled]="!deletePermission"
                                            mat-raised-button class="block-btn">
                                            <i class="material-icons">delete</i></button>
                                    </span> -->
                                </div>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <div class="" *ngIf="(dataSource.data.length == 0 || dataSource.filteredData.length == 0) && !isSpinner">
                        <div class="snipet download-btn">
                            <button (click)="refreshList()" mat-raised-button>
                                <i class="material-icons">refresh</i> No Data Found
                            </button>
                        </div>
                    </div>
                    <spinner [visible]='isSpinner'></spinner>
                    <!-- 
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                    </mat-paginator> -->
                    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = pageChangeEvent($event)">
                    </mat-paginator>
                </div>

            </div>
        </mat-card>



    </div>
</div>
<!-- </section> -->