<!-- <div class="heading">
    Upload media
</div> -->

<div class="row align-item-center bg-camp-4 inner-campaign-box4">
    <div class="col-md-12">

        <div class="form-group" *ngIf="showUpload">
            <!-- <label for="file">Choose File</label> -->

            <label id="#bb" color="primary"> Upload Document
                <input #myInput [disabled]="loading" type="file" id="file" placeholder="Upload Document" (change)="handleFileInput($event.target.files)">
                <!-- <div class="button running ld ld-over-inverse"> -->
                    <div *ngIf="loading" class="loader ld ld-ring ld-spin-fast"></div>
                    <!-- <div></div>
                </div> -->
            </label>
            <!-- <button id="#bb" mat-raised-button color="primary"> Upload Document
                <input #myInput type="file" id="file" placeholder="Upload Document" (change)="handleFileInput($event.target.files)">
            </button> -->
        </div>

        <!-- <div class="media-item" *ngFor="let attach of case.documents; let i=index"> -->
        <div class="list-cont">

            <ul>
                <li *ngFor="let attach of _attachments; let i=index">
                    <!-- <div class="media-item" *ngFor="let attach of _attachments; let i=index"> -->
                    <div class="media-item">

                        <span class="media-box" (click)="onNavigate(attach.documentUrl)">
                            <img *ngIf="attach.documentExtension == 'image' || attach.documentExtension == '.jpg' || attach.documentExtension == '.JPG' || attach.documentExtension == '.gif' || attach.documentExtension == '.GIF' || attach.documentExtension == '.png' || attach.documentExtension == '.PNG'" [src]="attach.documentUrl" class="media-object" />
                        </span>

                        <span class="media-box pdf" (click)="onNavigate(attach.documentUrl)" *ngIf="attach.documentExtension =='.pdf'">PDF</span>

                        <span class="media-box ppt" (click)="onNavigate(attach.documentUrl)" *ngIf="attach.documentExtension =='.ppt'">PPT</span>
                        <span class="media-box txt" (click)="onNavigate(attach.documentUrl)" *ngIf="attach.documentExtension =='.txt'">TXT</span>
                        <span class="media-box xls" (click)="onNavigate(attach.documentUrl)" *ngIf="(attach.documentExtension =='.xls' || attach.documentExtension =='.xlsx' )">XLS</span>
                        <span class="media-box xls" (click)="onNavigate(attach.documentUrl)" *ngIf="(attach.documentExtension =='.zip' || attach.documentExtension =='.ZIP' )">ZIP</span>
                        <span class="media-box xls" (click)="onNavigate(attach.documentUrl)" *ngIf="(attach.documentExtension =='.rar' || attach.documentExtension =='.RAR' )">RAR</span>
                        <!-- <span class="media-box ppt" *ngIf="attach.meta.type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'">PPT</span> -->
                        <span class="media-box doc" (click)="onNavigate(attach.documentUrl)" *ngIf="attach.documentExtension =='.docx' || attach.documentExtension =='.doc' ">DOC</span>
                        <!-- <span class="media-box video" *ngIf="attach.meta.type == 'video/mp4'">MP4</span>
                        <span class="media-box audio" *ngIf="attach.meta.type == 'audio/mp3'">MP3</span> -->

                        <!-- <span class="anchore-tag-line-icn"><i class="material-icons"(click)="removeImage(i)">cancel</i></span> -->
                        <span *ngIf="showUpload" class="media-box-cancel" matTooltipPosition="above" matTooltip="Remove">
                            <i class="material-icons"(click)="removeImage(i)">cancel</i>
                        </span>

                    </div>

                    <div class="file-name" matTooltipPosition="above" matTooltip="{{ attach?.documentOriginalName || 'NA' }}">
                        <span>{{ attach?.documentOriginalName || "NA" }}</span>
                    </div>

                </li>
            </ul>

        </div>

    </div>
    <div class="col-md-6">

    </div>
</div>