.div-20{ width: 180px;
    float: left;
    padding-top: 10px; }
.div-65{ margin-bottom: 42px;
    padding-top: 10px;
    width: calc(100% - 200px);
    float: right;}
.two-row-card {
    float: left;
    width: 100%; padding: 0px -10px 10px 0px;
}
.p-card-inner {
    
    padding: 24px;
    position: relative; 
    margin-top:-84px; 
}

.cover-img-box {
    background-color: #ccc;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
}



.cover-img-box img {
    width: 100%;
    height: 196px;
}
.profile-info{width:calc(100% - 200px); float: right}
.profile-img {
    margin-bottom: 42px;
    width: 180px;
    float: left;
}
.profile-img img {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    
}
.brand-name {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    padding: 5px 10px 4px;
    margin-bottom:12px;
}

.brand-location {
    color: #555;
    font-size: 13px;
    padding: 4px 10px;
}

.brand-location .mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    vertical-align: middle;
    color: #555;
}
.brand-about {
    color: #231f20;
    font-size: 15px;
    padding: 10px;
}

.pay-tab-wrapper {
    min-height: 408px;
    padding-bottom: 60px;
    position: relative;
    padding-top: 10px;
}
.management-card .pay-tab-wrapper .btn-box {
    position: absolute;
    right: 0px;
    bottom: 24px;
}
.component-label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.38);
    margin-bottom: 0;
}
.social-icon {padding: 10px;}
.social-icon .fa {
    font-size: 24px;
    width: 42px;
    color: #555655;
    cursor: pointer;
}
.socialRating{padding: 10px;}
hr{float: left;
    width: 100%;}
strong{color: #676767;}    
        


.table-container {
    padding: 15px 0 0;
}

.mat-card-title {
    color: #00796b;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}
table.soc-table th {
    border-top: none;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    border-bottom-color: #d9d9d9;
    vertical-align: top;
}
table.soc-table td {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    border-top: none;
    border-bottom: 1px solid #d9d9d9;
    vertical-align: middle;
}
table.soc-table th:first-child, table.soc-table td:first-child {
    width: 25%;
}

.searh-result-string {
    font-size: 14px;
    color: #666;
}

.inf-search-pro img {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    float: left;
}
.inf-sp-name {
    line-height: 15px;
    font-size: 14px;
    font-weight: 500;
}

.inf-search-pro-details {
    float: right;
    width: calc(100% - 40px);
    margin: 8px 0;
}

.reference-box h1 , .assoc-partner-box h1  ,.black-list-events-box h1 {
    font-size: 24px;
    font-family: "Roboto-Medium";
    position: relative;
    color: #666;
}

.reference-box h1:after {
    content: '';
    border-bottom: 1px dashed #ddd;
    height: 1px;
    position: absolute;
    right: 0;
    width: calc(100% - 130px);
    top: 50.5%;
}

.assoc-partner-box h1:after {
    content: '';
    border-bottom: 1px dashed #ddd;
    height: 1px;
    position: absolute;
    right: 0;
    width: calc(100% - 230px);
    top: 50.5%;
}

.black-list-events-box h1:after {
    content: '';
    border-bottom: 1px dashed #ddd;
    height: 1px;
    position: absolute;
    right: 0;
    width: calc(100% - 200px);
    top: 50.5%;
}

.heading {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #00796b;
}

.form-field {
    padding: 10px !important;
    margin-bottom: 10px;
}
.right{
    text-align: right
}
.min-height{
    max-height: 300px;
    overflow-y: visible !important;
    overflow-x:hidden !important; 
}

.button-spacing
{
    margin:15px
}