<secure-header *ngIf="isLogin"></secure-header>

<section class="content-block">
    <div class="row align-item-center">
        <div class="col-lg-12 col-md-12 col-xs-12 tr-campaign">
            <mat-card class="two-row-card">
                <div class="tr-sec-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-title>List of Contract(s)</mat-card-title>
                            <!-- <div class="searh-result-string">Showing :nth of :n results
                                </div> -->
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="filter-con">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                            </div>
                            <div class="snipet download-btn">
                                <span matTooltipPosition="above" matTooltip="{{!addPermission ? 'Dont have permission' : 'Add New!' }}">
                                    <button mat-raised-button color="primary" [disabled]="!addPermission" [routerLink]="['/contract/add']"> Add new
                                        <i class="material-icons">add</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <mat-table #table [dataSource]="dataSource" class="table table-responsive soc-table">

                            <!-- Serial No -->
                            <ng-container matColumnDef="sNo">
                                <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                                <mat-cell *matCellDef="let u; let i = index;"> {{i + 1}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="title">
                                <mat-header-cell *matHeaderCellDef>Title </mat-header-cell>
                                <mat-cell *matCellDef="let u">
                                    <a [routerLink]="['/contract/edit/',u.id]">{{ u?.contractTitle }}</a>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="party">
                                <mat-header-cell *matHeaderCellDef> Party </mat-header-cell>
                                <mat-cell *matCellDef="let u">
                                    {{ u?.externalParty?.firstName + ' ' + u?.externalParty?.lastName }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                                <mat-cell *matCellDef="let u"> {{ u?.contractType?.contractTypeName }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="start">
                                <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
                                <mat-cell *matCellDef="let u">
                                    {{u?.contractStartDate | date:'dd-MMM-yyyy'}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="expiry">
                                <mat-header-cell *matHeaderCellDef> Expiry Date </mat-header-cell>
                                <mat-cell *matCellDef="let u">
                                    {{u?.contractExpiryDate | date:'dd-MMM-yyyy'}}
                                </mat-cell>
                            </ng-container>

                            <!-- <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef> Expired </mat-header-cell>
                                <mat-cell *matCellDef="let u"> {{u?.contractExpired}} </mat-cell>
                            </ng-container> -->

                            <ng-container matColumnDef="cAction">
                                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                <mat-cell *matCellDef="let u; let i = index;">
                                    <div class="btn-group" role="group">

                                        <!-- View -->
                                        <span matTooltipPosition="above" matTooltip="{{!detailPagePermission ? 'Dont have permission' : 'View Summary!' }}">
                                            <button type="button" class="edit-btn" [disabled]="!detailPagePermission" mat-raised-button (click)="nevigate(u.id,'view')">
                                                <!-- View -->
                                                <i class="material-icons">rate_review</i>
                                            </button>
                                        </span>

                                        <!-- Edit -->
                                        <span matTooltipPosition="above" matTooltip="{{!updatePermission ? 'Dont have permission' : 'Edit!' }}">
                                            <button type="button" class="edit-btn" [disabled]="!updatePermission" mat-raised-button (click)="nevigate(u.id,'edit')">
                                                <!-- Edit -->
                                                <i class="material-icons">mode_edit</i>
                                            </button>
                                        </span>

                                        <!-- Renew Contract -->
                                        <!-- (click)="openRenewContract(u)"  -->
                                        <span *ngIf="u?.contractType?.contractTypeCode == 'recurring'" matTooltipPosition="above" matTooltip="{{!renewContractPermission ? 'Dont have permission' : ( u.isContractTerminated ? 'Terminated' : (u.contractExpired == true ? 'Contract is expired' : 'Renew Contract!') ) }}">
                                            <button type="button" color="primary" [disabled]="!renewContractPermission || u.isContractTerminated || u.contractExpired == true" mat-raised-button (click)="nevigate(u.id,'renew')">
                                                <i class="material-icons">cached</i>
                                            </button>
                                        </span>


                                        <!-- Terminate -->
                                        <span matTooltipPosition="above" matTooltip="{{ u.isContractTerminated ? 'Already Terminated' : (!terminatePermission ? 'Dont have permission' : (u.isTerminateDisabled ? 'Processing' : 'Terminate!') ) }}">
                                            <button type="button" class="edit-btn"  [disabled]="u.isContractTerminated || (!terminatePermission) || u.isTerminateDisabled"
                                                mat-raised-button (click)="terminateContract(u , i)">
                                                <!-- Terminate -->
                                                <i class="material-icons">delete</i>
                                            </button>  
                                        </span>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>

                        <div class="" *ngIf="(dataSource.data.length == 0 || dataSource.filteredData.length == 0) && !isSpinner">
                            <div class="snipet download-btn">
                                <button (click)="refreshList()" mat-raised-button>
                                    <i class="material-icons">refresh</i> No Data Found
                                </button>
                            </div>
                        </div>
                        <spinner [visible]='isSpinner'></spinner>

                        <!-- <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator> -->
                        <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = pageChangeEvent($event)">
                        </mat-paginator>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</section>