<div class="row">

  <header class="header col-lg-12">
    <div class="row header-inside-row">

      <div class="col-md-6">
        <div class="header__logo hidden-sm-down">
          <div class="logo-placeholder inverted">

            <!-- <div class="logo" [routerLink]="['/']"> -->
            <div class="logo">
              <button mat-button (click)="showNav = !showNav" class="mbt-btn mat-icon-button nav-toggle-btn">
                <i class="fa fa-bars"></i>
              </button>
              <img src="assets/img/Logo-Coloured.png" [routerLink]="['/']" alt="nbp">
            </div>
            <!-- <a href="#"><img src="assets/img/Logo-Coloured.png" class="logo" alt="nbp"></a> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="top-nav">
          <!-- <li *ngIf="user.entityType != 'backoffice'"> -->
          <!-- <li>
            <a>
              <mat-icon [matMenuTriggerFor]="menu" style="color:black">notifications</mat-icon>
            </a>
            <span class="notification-count" *ngIf="this.countNotif>0 && notif.notification">{{notif.notification?.totalUnread}}</span>
          </li> -->

          <!-- <li>
            <a (click)="navigate('/home')" style="color:black">
              Main Dashboard
            </a>
          </li> -->

          <!-- <li>
            <a (click)="navigate('/contract/dashboard')" style="color:black">
              Contract Dashboard
            </a>
          </li> -->

          <!-- <li>
            <a (click)="navigate('/advisory/ad/dashboard')" style="color:black">
              Advisory Dashboard
            </a>
          </li> -->

          <li>
            <a [matMenuTriggerFor]="profilemenu" style="color:black">
              <!-- <div class="user-name">{{user && user.firstName? user.firstName : "Unknown"}}</div> -->
              {{user && user.firstName? user.firstName : "Unknown"}}
              <!-- <img class="profile-thumb small" src="{{profilePic?.url}}" alt="profile_pic"> -->
              <!-- <img class="profile-thumb small" src="{{profilePic}}" alt="profile_pic"> -->
              <img class="profile-thumb small" src="assets/img/user.png" alt="profile_pic">
              <i class="material-icons">arrow_drop_down</i>
            </a>
          </li>

          <!-- <mat-menu #menu="matMenu">
            <header-notification [notif]='notif' (onNotifClick)='onNotifClick($event)'></header-notification>
            <header-notification (onNotifClick)='onNotifClick($event)'></header-notification>
          </mat-menu> -->

          <mat-menu #profilemenu="matMenu" class="profile-menu">
            <div>
              <ul class="nav-menu">
                <!-- <li (click)="onProfileViewClick()">Profile</li> -->
                <!-- <li (click)="onProfileClick()">Edit</li> -->
                <li (click)="onProfileClick()">Profile</li>
                <li (click)="onChangePasswordClick()">Change Password</li>
                <li (click)="onlogOut()">Logout</li>
              </ul>
            </div>
          </mat-menu>

        </ul>
        <!-- <notification [ngStyle]="{'display':'none'}" [noti]='notif' (onNotifClickUpdate)='onNotifClickUpdate($event)'></notification> -->
      </div>
    </div>
  </header>
  <!-- <sidebar *ngIf="sidebar" [ngClass]="(showNav == true)?'new-dp':''"></sidebar> -->
  <div class="col-md-3">
    <aside class="sidebar" [ngClass]="(showNav == true)?'new-dp':''">
      <div class="scrollable">
        <div class="user">
          <div class="user-info">
            <!-- <img class="user-img" src="{{profilePic}}" alt="profile_pic"> -->
            <img class="user-img" src="assets/img/user.png" alt="profile_pic">
            <!-- <img class="profile-thumb small" src="assets/img/user.png" alt="profile_pic"> -->
            <div class="box">
              <div class="user-name">{{user && user.firstName? user.firstName : "Unknown"}}</div>
              <!-- <div class="user-about">{{user?.entityDescription}}</div> -->
              <div class="user-location">
                <!-- <mat-icon>location_on</mat-icon>Karachi -->
                {{user && user.roles.length > 0? user.roles[0].roleName : "NA"}}
              </div>
            </div>
          </div>
        </div>
        <ul class="navigation">
          <li>
            <a (click)="navigate('/home')">
              <!-- <a href=""> -->
              <i class="fa fa-dashboard"></i>
              Home
            </a>
          </li>

          <li>
            <a (click)="expandRow(1 , -1)">
              <i class="fa fa-users"></i>
              Admin Module
              <span>
                <i class="right-ico fa" [ngClass]="(1 === expandedIndex) ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </span>
            </a>
            <ul class="sub" [ngClass]="(1 === expandedIndex) ? 'show' : ''">
              <span *ngIf="1 === expandedIndex">

                <li *ngIf="permission && (permission.user_add===true || permission.user_list===true)">
                  <a (click)="expandRow(1 , 1.1)">
                    <i class="fa fa-users"></i>
                    User Management
                    <span>
                      <i class="right-ico fa " [ngClass]="(1.1 === expandedIndexLevelOne)?'fa-chevron-up':'fa-chevron-down'"></i>
                    </span>
                  </a>
                  <ul class="sub" [ngClass]="(1.1 === expandedIndexLevelOne) ? 'show' : ''">
                    <span *ngIf="1.1 === expandedIndexLevelOne">
                      <li *ngIf="permission && permission.user_add">
                        <a (click)="navigate('/admin/users/add')">
                          <i class="fa fa-user-plus"></i>
                          Add User
                        </a>
                      </li>
                      <li *ngIf="permission && permission.user_list">
                        <a (click)="navigate('/admin/users/list')">
                          <i class="fa fa-list"></i>
                          User List
                        </a>
                      </li>
                    </span>
                  </ul>
                </li>

                <li *ngIf="permission && permission.manage_role_page">
                  <a (click)="expandRow(1 , 1.13)">
                    <i class="fa fa-object-group"></i>
                    Role And Permission
                    <i class="right-ico fa " [ngClass]="(1.13 === expandedIndexLevelOne)?' fa-chevron-up':'fa-chevron-down'"></i>
                  </a>
                  <ul class="sub" [ngClass]="(1.13 === expandedIndexLevelOne)?'show':''">
                    <span *ngIf="1.13 === expandedIndexLevelOne">
                      <li>
                        <a (click)="navigate('/admin/sf/manage-role')">
                          <i class="fa fa-cog"></i>
                          Manage Role
                        </a>
                      </li>
                      <li>
                        <a (click)="navigate('/admin/sf/assign-permission')">
                          <i class=" fa fa-key"></i>
                          Assign Permission
                        </a>
                      </li>
                    </span>
                  </ul>
                </li>

                <li *ngIf="permission && (permission.case_setup_page || permission.branch_setup_page)">
                  <a (click)="expandRow(1 , 1.14)">
                    <i class="fa fa-cogs"></i>
                    Setup Form
                    <i class="right-ico fa " [ngClass]="(1.14 === expandedIndexLevelOne)?'fa-chevron-up':'fa-chevron-down'"></i>
                  </a>
                  <ul class="sub" [ngClass]="(1.14 === expandedIndexLevelOne)?'show':''">
                    <span *ngIf="1.14 === expandedIndexLevelOne">
                      <li *ngIf="permission && permission.branch_setup_page">
                        <a (click)="navigate('/admin/sf/manage-branch')">
                          <i class="fa fa-cog"></i>
                          Manage Branch
                        </a>
                      </li>
                    </span>
                  </ul>
                </li>

              </span>
            </ul>
          </li>

          <li>
            <a (click)="expandRow(2)">
              <i class="fa fa-list-alt"></i>
              Contract Module
              <i class="right-ico fa " [ngClass]="(2 === expandedIndex)?'fa-chevron-up':'fa-chevron-down'"></i>
            </a>
            <ul class="sub" [ngClass]="(2 === expandedIndex)?'show':''">
              <span *ngIf="2 === expandedIndex">
                <li>
                  <a (click)="navigate('/contract/dashboard')">
                    <i class="fa fa-dashboard"></i>
                    Dashboard
                  </a>
                </li>
                <li *ngIf="permission && permission.contract_add">
                  <a (click)="navigate('/contract/add')">
                    <i class="fa fa-plus"></i>
                    Create Contract
                  </a>
                </li>
                <li *ngIf="permission && permission.contract_list">
                  <a (click)="navigate('/contract/list')">
                    <i class="fa fa-list"></i>
                    Contract List
                  </a>
                </li>
                <li *ngIf="permission && permission.external_party_list">
                  <a (click)="navigate('/list/external/employees')">
                    <i class="fa fa-list"></i>
                    External Party
                  </a>
                </li>
              </span>
            </ul>
          </li>

          <li>
            <a (click)="onlogOut()">
              <i class="fa fa-sign-out"></i>Logout
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>